
* {
    padding: 0;
    margin: 0; 
}


.gradient-bg {
    background: linear-gradient(360deg, #6CB754 0%, #374729 100%);
}

/*Color Letras*/

.colorfff {
    color: #ffffff;
}

.color1d1d1d {
    color: #1d1d1d;
}

/*Cor Background*/

.bg374729 {
 background-color: #374729;
}


/*Títulos de páginas*/

.font-800{
    font-size: 40px;
    font-family: Recursive;
    font-weight: 800;
    text-transform: uppercase;
 }

 /*Parágrafos*/

.font-400{
    font-size: 16px;
    font-family: Recursive;
    font-weight: 400;
 }

/*Nav*/

.nav-gradiente {
    background: linear-gradient(360deg, #6CB754 0%, #374729 100%);
}

.button-nav {
    background: linear-gradient(90deg, #FDC80D 0%, #DFD628 78%, #D6DB30 100%);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 16px;
    font-family: Recursive;
    font-weight: 800;
    word-wrap: break-word;
    text-transform: uppercase;
}

.button-nav:hover {

    background: #D6DB30;
    box-shadow: 4px 4px 0px #E6C81C;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex

}

.menu-item {
    font-size: 16px;
    font-family: Recursive;
    font-weight: 400;
}

.activo {
    color: #ffffff;
    font-size: 16px;
    font-family: Recursive;
    font-weight: 800;
}

/*Tamanho do background verde*/

.bg-section {
    width: 90%; 
}

/*Tamanho do card-hero*/
.card-1 {
    width: 90%;
}

.card-2 {
    width: 25%;
}

/*Regras section paragráfo CEO*/

.title-ceo {
    color: #ffffff;
    font-family: Recursive;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
}

.parag-ceo {
    
    color: #ffffff;
    font-family: Recursive;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

/*Button Send*/

.button-send {
    background: linear-gradient(360deg, #6CB754 0%, #374729 100%);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    border: none;
    color: white;
    font-size: 16px;
    font-family: Recursive;
    font-weight: 800;
    word-wrap: break-word;
    text-transform: uppercase;
    width: 20%;
}

.button-send:hover {

    background: #92C154;
    box-shadow: 4px 4px 0px #6BA03A;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex

}

