* {
    padding: 0;
    margin: 0; 
}

.gradient-bg {
    background: linear-gradient(360deg, #6CB754 0%, #374729 100%);
}
 
.navbar {
    background: linear-gradient(360deg, #6CB754 0%, #374729 100%);
}

.container-nav {
    
    padding-left: 160px;
    padding-right: 160px; 
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.logo, .menu, .button {
    justify-content: center;
    align-items: center;
    display: flex;
}

.logo {
    width: 240px;
    height: 79.80px;
}

.menu {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 45px;
}

.menu-item {
    width: auto;
    height: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.button-nav {
    background: linear-gradient(90deg, #FDC80D 0%, #DFD628 78%, #D6DB30 100%);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    border: none;
}

.button-nav:hover {

    background: #D6DB30;
    box-shadow: 4px 4px 0px #E6C81C;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex

}

.menu-item > div, .button-nav > div {
    color: white;
    font-size: 16px;
    font-family: Recursive;
    font-weight: 700px;
    word-wrap: break-word;
}

.button-nav > div {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}


.margin-hero {
    padding: 300;
}

.content-hero {
    height: 100vh;
    flex-direction: column;
    
}

.size-content {
    top: 10% !important; 
    left: 10%;
    width: 50%;
}

.title {
    color: #010101;
    font-size: 36px;
    font-family: Recursive;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
}

.subtitle {
    width: 480px;
    color: #010101;
    font-size: 24px;
    font-family: Recursive;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.bg-section2 {
    width: 90%;
}

        
